<h2>{{model.name}}</h2>

<h4>Attributes</h4>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Required</th>
  </tr>
  </thead>
  <tbody>

  {{#each model.fields as |field|}}
    <tr>
      <!-- add isLoaded to make sure the changeset helper is run with a fully loaded record -->
      {{#if field.isLoaded}}
        {{#with (changeset field FieldValidations skipValidate=true) as |c|}}
          {{#with (action 'submit' c) as |submit|}}
            <td>{{input value=c.name focus-out=submit}}</td>
            <td>{{input value=c.fieldType focus-out=submit}}</td>
            <td><input type="checkbox" checked={{c.required}} onchange={{action (compose (action (mut c.required) (not c.required)) submit)}}/></td>
          {{/with}}
        {{/with}}
      {{/if}}
    </tr>
  {{/each}}

  </tbody>
</table>

<h4>Relationships</h4>

<table class="table">
  <thead>
  <tr>
    <th>Cardinality</th>
    <th>Entity</th>
    <th>Required</th>
  </tr>
  </thead>
  <tbody>
  {{#each model.relationships as |relationship|}}
    {{#if relationship.isLoaded}}
      <tr>
        {{#with (changeset relationship RelationshipValidations skipValidate=true) as |c|}}
          {{#with (action 'submit' c) as |submit|}}
            <td>
              {{#x-select value=c.cardinality action=(action (mut c.cardinality)) class="custom-select w-100" as |xs|}}
                {{#each cardinalityOptions as |e|}}
                  {{#xs.option value=e.value}}{{e.name}}{{/xs.option}}
                {{/each}}
              {{/x-select}}
            </td>
            <td>
              {{#x-select value=c.dependentEntity.content action=(compose (action (mut c.dependentEntity)) submit) class="custom-select w-100" as |xs|}}
                {{#each dependentEntityOptions as |e|}}
                  {{#xs.option value=e}}
                    {{#if (eq c.cardinality 'HAS_MANY')}}
                      {{pluralize e.name}}
                    {{else}}
                      {{e.name}}
                    {{/if}}
                  {{/xs.option}}
                {{/each}}
              {{/x-select}}
            </td>
            <td><input type="checkbox" checked={{c.required}} onchange={{action (compose (action (mut c.required) (not c.required)) submit)}}/></td>
          {{/with}}
        {{/with}}
      </tr>
    {{/if}}

  {{/each}}
  </tbody>
</table>
