<h2>{{model.name}}</h2>

<h4>Attributes</h4>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Required</th>
  </tr>
  </thead>
  <tbody>

  {{#each model.fields as |field|}}
    <tr>
      {{#with (action 'updateRecord' field) as |save|}}
        <td>{{input value=field.name focus-out=save}}</td>
        <td>{{input value=field.fieldType focus-out=save}}</td>
        <td><input type="checkbox" checked={{field.required}} onchange={{action (compose (action (mut field.required) (not field.required)) save)}}/></td>
      {{/with}}
    </tr>
  {{/each}}

  </tbody>
</table>

<h4>Relationships</h4>

<table class="table">
  <thead>
  <tr>
    <th>Cardinality</th>
    <th>Entity</th>
    <th>Required</th>
  </tr>
  </thead>
  <tbody>
  {{#each model.relationships as |relationship|}}
    <tr>
      <td>{{relationship.cardinality}}</td>
      <td>{{relationship.dependentEntity.name}}</td>
      <td>
        {{input type='checkbox' checked=relationship.required change=(action 'updateRecord' relationship)}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
