<h2 class="mb-3">{{fa-icon 'database' class='mr-4'}}
  {{#with (changeset model EntityValidations skipValidate=true) as |c|}}
    {{inplace-edit value=c.name save=(action 'submit' c)}}
  {{/with}}
</h2>

<h4>Attributes</h4>

<table class="table">
  <thead>
  <tr>
    <th width="12%">Required</th>
    <th width="40%">Name</th>
    <th>Type</th>
    <th width="8%">&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  {{#each model.fields as |field i|}}
    <!-- add isLoaded to make sure the changeset helper is run with a fully loaded record -->
    {{#if field.isLoaded}}
      <tr>
        {{#with (changeset field FieldValidations skipValidate=true) as |c|}}
          {{#with (action 'submit' c) as |submit|}}
            <td>
              <input type="checkbox" checked={{c.required}}
                onchange={{action (pipe (toggle 'required' c) submit)}}/>
            </td>
            <td>{{input value=c.name focus-out=submit class='form-control form-control-sm'}}</td>
            <td>{{input value=c.fieldType focus-out=submit class='form-control form-control-sm'}}</td>
          {{/with}}
        {{/with}}
        <td>{{fa-icon 'close' click=(action 'destroyRecord' field) class='cursor-pointer'}}</td>
      </tr>
    {{/if}}
  {{/each}}

  <tr>
    {{#with (changeset newField FieldValidations skipValidate=true) as |c|}}
      {{#with (action 'submitNewField' c) as |submit|}}
        <td>
          <input type="checkbox" checked={{c.required}}
            onchange={{action (pipe (toggle 'required' c) submit)}}/>
        </td>
        <td>{{input value=(mut (get c 'name'))
                    class='form-control form-control-sm'
                    focus-out=submit
                    placeholder='Enter field name...' autofocus=true}}</td>
        <td>{{input value=(mut (get c 'fieldType'))
                    class='form-control form-control-sm'
                    focus-out=submit
                    placeholder='Enter type...'}}</td>
      {{/with}}
      <td>&nbsp;</td>

    {{/with}}
  </tr>

  </tbody>
</table>

<h4>Relationships</h4>

<table class="table">
  <thead>
  <tr>
    <th width="12%">Required</th>
    <th width="40%">Cardinality</th>
    <th>Entity</th>
    <th>Name</th>
    <th width="8%">&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  {{#each model.relationships as |relationship|}}
    {{#if relationship.isLoaded}}

      {{relationship-row relationship=relationship
                         destroyRecord=(action 'destroyRecord' relationship)
                         dependentEntityOptions=dependentEntityOptions submit=(action 'submit')}}

    {{/if}}
  {{/each}}

  <tr>
    {{#with (changeset newRelationship RelationshipValidations skipValidate=true) as |c|}}
      {{#with (action 'submitNewRelationship' c) as |submit|}}
        <td>
          <input type="checkbox" checked={{c.required}}
            onchange={{action (pipe (toggle 'required' c) submit)}}/>
        </td>
        <td>
          {{#x-select value=c.cardinality
                      action=(pipe (action (mut c.cardinality)) submit) class="form-control form-control-sm" as |xs|}}
            {{#xs.option value=null}}Please select{{/xs.option}}
            {{#each cardinalityOptions as |e|}}
              {{#xs.option value=e.value}}{{e.name}}{{/xs.option}}
            {{/each}}
          {{/x-select}}
        </td>
        <td>
          {{#x-select value=c.dependentEntity
                      action=(pipe (action (mut c.dependentEntity)) submit) class="form-control form-control-sm" as |xs|}}
            {{#xs.option value=null}}Please select{{/xs.option}}
            {{#each dependentEntityOptions as |e|}}
              {{#xs.option value=e}}
                {{#if (eq c.cardinality 'HAS_MANY')}}
                  {{pluralize e.name}}
                {{else}}
                  {{e.name}}
                {{/if}}
              {{/xs.option}}
            {{/each}}
          {{/x-select}}
        </td>

      {{/with}}
      <td colspan="2">&nbsp;</td>

    {{/with}}
  </tr>

  </tbody>
</table>

<h4>Actions</h4>

<table class="table">
  <thead>
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Included entities</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {{#each model.actions as |a|}}

    {{#unless a.isDeleted}}
      {{action-row record=a
                   allRelationships=model.relationships
                   destroyRecord=(action 'destroyRecord' a)
                   submit=(action 'submit')}}
    {{/unless}}

  {{/each}}

  {{#with (changeset newAction ActionValidations skipValidate=true) as |c|}}
    {{#with (action 'submitNewAction' c) as |submit|}}
      <td>
        {{#x-select value=c.requestType
                    action=(pipe (action (mut c.requestType)) submit) class="form-control form-control-sm" as |xs|}}
          {{#xs.option value=null}}Please select{{/xs.option}}
          {{#xs.option value='get_single'}}Get single{{/xs.option}}
          {{#xs.option value='get_collection'}}Get collection{{/xs.option}}
          {{#xs.option value='create'}}Create{{/xs.option}}
          {{#xs.option value='update'}}Update{{/xs.option}}
          {{#xs.option value='delete'}}Delete{{/xs.option}}
        {{/x-select}}
      </td>
      <td>
        {{input value=(mut (get c 'name'))
                class='form-control form-control-sm'
                focus-out=submit
                placeholder='Enter action name...' autofocus=true}}
      </td>
    {{/with}}
    <td colspan="2">&nbsp;</td>

  {{/with}}

  </tbody>
</table>
